* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  height: 100vh;
  background: linear-gradient(100deg, #d38312, #a83279);
  display: flex;
  justify-content: center;
  place-items: center;
}
.container {
  width: 60%;
  height: 630px;
  background-color: aliceblue;
  border-radius: 12px;
  border: 1px solid black;
}
.heading h2 {
  color: #d38312;
}
